---
import { FulguriteIsland } from "$components/Fulgurite.tsx";
import { bloxCSS } from "$components/editor/cssgen.ts";
import BaseLayout from "$layouts/BaseLayout.astro";
import { cppCode, notCppCode } from "$utils/constants.ts";
import { compile } from "$utils/godbolt.ts";

const { editorCSS, highlightCSS } = bloxCSS;

const [compiledCpp, compiledNotCpp] = await Promise.all(
    [cppCode, notCppCode].map((code) => {
        return compile(["c++", "clang1500"], code, {
            opts: "-std=c++20 -O1",
            asmSyntax: "at&t",
        });
    }),
);

const hint = { [cppCode]: compiledCpp, [notCppCode]: compiledNotCpp };
---

<BaseLayout title="Fulgurite | bigpp.dev">
    <style is:inline set:html={editorCSS}></style>
    <style set:html={highlightCSS}></style>
    <main class="container mx-auto px-4 pt-6">
        <h1 class="text-4xl font-bold">Fulgurite</h1>
        when god-"bolt" meet "sand"-pack
        <FulguriteIsland hint={hint} client:visible />
    </main>
</BaseLayout>
