---
import Layout from "../layouts/Layout.astro";
import _ from "lodash";

import Fulgurite from "../components/Fulgurite.jsx";
---

<Layout title="Fulgurite | bigpp.dev">
    <main class="container max-w-4xl mx-auto px-4 pt-6">
        <h1 class="text-4xl font-bold">Fulgurite</h1>
        when "bolt" meets "sand"
        <Fulgurite client:load />
    </main>
</Layout>
