---
import _ from "lodash";

import Layout from "../layouts/Layout.astro";

interface Frontmatter {
    unique_id: string;
    short_id: string;
    title: string;
    description: string;
    pub_date: string;
    tags: string[];
}

const posts = await Astro.glob<FrontMatter>("./posts/*.md");
---

<Layout title="Home | bigpp.dev">
    <main class="container max-w-4xl mx-auto px-4 pt-6">
        <h1 class="text-4xl font-bold">Recent Posts</h1>
        <ul class="space-y-4 mt-6">
            {
                posts
                    .filter((post) => !post.frontmatter.draft)
                    .map((post) => (
                        <li>
                            <h2 class="text-3xl">{post.frontmatter.title}</h2>
                            <p class="line-clamp-3">
                                {post.frontmatter.description}
                            </p>
                            <a href={post.url} class="font-bold">
                                Read more
                            </a>
                        </li>
                    ))
            }
        </ul>
    </main>
</Layout>
