---
const menus = [
    { name: "home", path: "/" },
    { name: "fulgurite", path: "/fulgurite" },
];
---

<nav class="bg-zinc-900" x-data="{ disclosed: false }">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <img
                        class="h-8 w-8"
                        src="https://tailwindui.com/img/logos/mark.svg?color=blue&shade=500"
                        alt="bigpp logo"
                    />
                </div>
                <div class="hidden md:block">
                    <div x-cloak class="ml-10 flex items-baseline space-x-4">
                        <!-- Current: "bg-zinc-900 text-white", Default: "text-gray-300 hover:bg-zinc-700 hover:text-white" -->
                        {
                            menus.map((menu) => (
                                <a
                                    href={menu.path}
                                    class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-zinc-700 hover:text-white"
                                >
                                    {menu.name}
                                </a>
                            ))
                        }
                    </div>
                </div>
            </div>
            <div class="-mr-2 flex md:hidden">
                <!-- Mobile menu button -->
                <button
                    type="button"
                    class="inline-flex items-center justify-center rounded-md bg-zinc-800 p-2 text-gray-400 hover:bg-zinc-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        @click="disclosed = true"
                        x-show="!disclosed"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        ></path>
                    </svg>
                    <!-- Heroicon name: outline/x-mark -->
                    <svg
                        class="h-6 w-6"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        @click="disclosed = false"
                        x-show="disclosed"
                        x-cloak
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu" x-show="disclosed" x-cloak>
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
            <!-- Current: "bg-zinc-900 text-white", Default: "text-gray-300 hover:bg-zinc-700 hover:text-white" -->
            {
                menus.map((menu) => (
                    <a
                        href={menu.path}
                        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-zinc-700 hover:text-white"
                    >
                        {menu.name}
                    </a>
                ))
            }
        </div>
    </div>
</nav>
