---
import { bloxCSS } from "$components/editor/cssgen.ts";
import BaseLayout from "$layouts/BaseLayout.astro";
import {
    oneDarkHighlightStyle,
    oneDarkTheme,
} from "@codemirror/theme-one-dark";

const { editorCSS, highlightCSS } = bloxCSS;

const { frontmatter } = Astro.props;
---

<BaseLayout title={`${frontmatter.title} | biggp.dev`}>
    <style is:inline set:html={editorCSS}></style>
    <style set:html={highlightCSS}></style>
    <main
        class="container max-w-4xl mx-auto prose prose-invert md:prose-lg prose-p:text-justify prose-p:break-words prose-p:hyphens-auto px-4 pt-6"
    >
        <slot />
    </main>
</BaseLayout>
