---
import Layout from "./Layout.astro";

import {
    oneDarkHighlightStyle,
    oneDarkTheme,
} from "@codemirror/theme-one-dark";
import { cssgen } from "../components/editor/cssgen.ts";
import { baseTheme } from "../components/editor/baseEditorStyles.ts";
const editorCSS = baseTheme.getRules();
const highlightCSS = cssgen(oneDarkHighlightStyle, oneDarkTheme);

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | biggp.dev`}>
    <style is:inline set:html={editorCSS}></style>
    <style is:inline set:html={highlightCSS}></style>
    <main class="container max-w-4xl mx-auto prose prose-invert px-4 pt-6">
        <slot />
    </main>
</Layout>
