---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | biggp.dev`}>
    <main class="container max-w-4xl mx-auto prose px-4 pt-6">
        <slot />
    </main>
</Layout>
